.block {
  width: 100%;
  height: 8px;
  &.block--short {
    max-width: 50%;
  }
}
#container {
  max-width: 680px;
  max-height: 400px;
  box-shadow: 2px 2px 14px #d9d9d9;
  padding: 24px 32px;
  overflow: hidden;
  .loading-card {
    .top-section {
      display: flex;
      flex-direction: row;
      width: 100%;
      .profile-pic {
        border-radius: 100%;
        min-height: 100px;
        min-width: 100px;
        margin-right: 24px;
        text-align: to left;
      }
      .profile-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 16px 0;
        justify-content: space-between;
      }
    }
    .loading-divider {
      height: 1px;
      background: #e7e7e7;
      width: calc(100% + 64px);
      margin: 24px 0 24px -32px;
    }
    .bottom-section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      .content-header {
        height: 50px;
        width: 100%;
        margin-bottom: 16px;
      }
      .content-section {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 16px;
        .content-info {
          height: 100%;
          width: 100%;
          min-height: 200px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        .content-image {
          min-height: 100px;
          min-width: 300px;
          width: 100%;
          margin-left: 16px;
        }
      }
    }
  }
}
.load-animate {
  $background: lighten(#111, 80);
  $highlight1: lighten(#111, 70);
  $highlight2: lighten(#111, 60);
  animation: load 1s linear infinite;
  animation-fill-mode: forwards;
  background: $background;

  //DARK VERSION
  // background-image: linear-gradient(left,  $background 0%,  $highlight1 20%,  $highlight2 40%,  $background 100%);

  //LIGHT VERSION
  background-image: linear-gradient(
    left,
    $background 0%,
    #f5f5f5 20%,
    #efefef 40%,
    $background 100%
  );

  background-repeat: no-repeat;
  background-size: cover;
  &.profile-pic {
    animation-duration: 1s;
  }
}

@keyframes load {
  0% {
    background-position: -680px 0;
  }
  100% {
    background-position: 680px 0;
  }
}

@keyframes load-image {
  0% {
    background-position: -680px 0;
  }
  100% {
    background-position: 680px 0;
  }
}
