.wrapper {
    margin: 3em;
  }
  
  .loader {
    background-color: #eee;
    height: .5em;
    border-radius: 1em;
    width: 10em;
    overflow: hidden;
    transform: skewZ(10em);
    position: relative;
    z-index: 1;
  }
  
  .loader-indicator {
    background-color: skyblue;
    width: 3em;
    height: 100%;
    border-radius: 1em;
    animation: loader 1000ms ease-in-out infinite;
  }
  
  @keyframes loader {
    0%, 100% {
      transform: translateX(-1em);
    }
    50% {
      transform: translateX(8em);
    }
  }